body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: radial-gradient(circle, #0f0312, #13031a, #130523, #0f072c, #020b36);
    overflow: hidden;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 0.8rem;
    
  }
  
  h1 {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    font-size: 2.5rem;
    opacity: 0.4;
  }
  
  .option {
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
  .option #reset-config {
    border: none;
    border-radius: 4px;
    color: #f2f2f2;
    background: #f10202;
    padding: 0.3rem 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: 0.1s all;
    display: none;
  }
  .option #reset-config:hover {
    background: #f33037;
    transform: translate(3px, 2px);
    display: none;
  }
  .option div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    margin-top: 0.5rem;
  }
  .option div .slider {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%;
    height: 4px;
    margin: auto;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.4);
    -webkit-animation: changeBgColor 2s infinite linear;
            animation: changeBgColor 2s infinite linear;
    display: none;
  }
  .option div .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    height: 15px;
    width: 6px;
    background: #f2f2f2;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    display: none;
  }
  .option div label {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: none;
  }
  
  @-webkit-keyframes changeBgColor {
    0% {
      background-image: linear-gradient(to left, #8237a3, #d9156f, #ed5824, #c39f00, #53d62f);
    }
    100% {
      background-image: linear-gradient(to left, #3753a3, #b14d9d, #f45b6f, #fa9535, #c7d62f);
    }
  }
  
  @keyframes changeBgColor {
    0% {
      background-image: linear-gradient(to left, #8237a3, #d9156f, #ed5824, #c39f00, #53d62f);
    }
    100% {
      background-image: linear-gradient(to left, #3753a3, #b14d9d, #f45b6f, #fa9535, #c7d62f);
    }
  }